body{
    background: url(../images/background.png) center fixed;
    background-size: cover;
}

article{
    float: right;
    width: 80%;
}

aside{
    float: left;
    width: 20%;
}

table{
    font-family: sans-serif;
    color: #000000;
    line-height: 1.5em;
    direction: ltr;
    font-size: 100%;
    text-align: center;
    background: #fffad9;
    width: 200px;
    background:#fffad9;
    border: 1px solid #ffca2b;
    box-shadow: 0.1em 0.1em 1em #ffca2b;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 45px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-shadow: #555 1px 1px 2px;
    overflow: hidden;
}

#navegador li{
    display: block;
    background: #fffad9;
    color: #000000;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 100%;
    text-align: center;
    width: 250px;
    border: 1px solid #ffca2b;
    box-shadow: 0.1em 0.1em 1em #ffca2b;
    border-radius: 25px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#navegador li:hover{
    background: #f53a3a;
}

a {
    outline: none;
    text-decoration: none;
  }

a:hover{
    outline:auto;
}

#navegador a:hover{
    outline: none;
}

.border{
    border-collapse: collapse;
}
.portada{
    margin: 15px 5px;
    background-color: #fffad9;
    box-shadow: 0.1em 0.1em 1em #ffca2b;
    border: 1px solid #ffca2b;
    border-radius: 25px;
    overflow: hidden;
}
.tituloPrincipal{
    background-color: #ffd865;
    text-align: center;
    padding: 4px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: #555 1px 1px 3px;
}
p {
    margin: 0.4em 0 0.5em 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: sans-serif;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.zoom:hover {
    transform: scale(1.75);
}

@media only screen and (max-width: 1600px){
    .responsivo2{
        display: flex;
        min-width: 100%;
        height: 50%;
    }
    .responsivo{
        display: none;
    }
    .responsivo3{
        width: 70%;
        height: auto;
    }
}

@media only screen and (max-width: 700px) {
.responsive {
    width: 49.99999%;
    margin: 6px 0;
}
}

@media only screen and (max-width: 500px) {
.responsive {
    width: 100%;
}
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
